progetto_codifica/teiStatement.dtd


<!--
DTD generated from ODD source 2020-07-02T18:54:49Z. .
TEI Edition: Version 4.0.0. Last updated on
	13th February 2020, revision ccd19b0ba
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 4.0.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.point ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.version ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.sex '%teidata.word;' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.xmlName ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % teidata.temporal.iso ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart "placeName |bloc |country |region |settlement |district"> 
<!ENTITY % model.placeNamePart_sequence "placeName, bloc, country, region, settlement, district"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, bloc?, country?, region?, settlement?, district?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, bloc*, country*, region*, settlement*, district*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, bloc+, country+, region+, settlement+, district+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.resource "text |facsimile"> 
<!ENTITY % model.resource_sequence "text, facsimile"> 
<!ENTITY % model.resource_sequenceOptional "text?, facsimile?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*, facsimile*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+, facsimile+"> 
<!ENTITY % model.describedResource "teiCorpus |TEI"> 
<!ENTITY % model.describedResource_sequence "teiCorpus, TEI"> 
<!ENTITY % model.describedResource_sequenceOptional "teiCorpus?, TEI?"> 
<!ENTITY % model.describedResource_sequenceOptionalRepeatable "teiCorpus*, TEI*"> 
<!ENTITY % model.describedResource_sequenceRepeatable "teiCorpus+, TEI+"> 
<!ENTITY % tei_att.msExcerpt.attribute.defective '
defective %teidata.xTruthValue;  #IMPLIED'>
<!ENTITY % tei_att.msExcerpt.attributes '
 %tei_att.msExcerpt.attribute.defective;'> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename |roleName"> 
<!ENTITY % model.persNamePart_sequence "surname, forename, roleName"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?, roleName?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*, roleName*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+, roleName+"> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % tei_att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.facs.attributes '
 %tei_att.global.facs.attribute.facs;'> 
<!ENTITY % tei_att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.change.attributes '
 %tei_att.global.change.attribute.change;'> 
<!ENTITY % tei_att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.analytic.attributes '
 %tei_att.global.analytic.attribute.ana;'> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- end of predeclared classes -->

<!ENTITY % tei_att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % tei_att.ascribed.attributes '
 %tei_att.ascribed.attribute.who;'> 
<!ENTITY % tei_att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_att.canonical.attributes '
 %tei_att.canonical.attribute.key;
 %tei_att.canonical.attribute.ref;'> 
<!ENTITY % tei_att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_att.ranging.attributes '
 %tei_att.ranging.attribute.atLeast;
 %tei_att.ranging.attribute.atMost;
 %tei_att.ranging.attribute.min;
 %tei_att.ranging.attribute.max;
 %tei_att.ranging.attribute.confidence;'> 
<!ENTITY % tei_att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.dimensions.attributes '%tei_att.ranging.attributes;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
 %tei_att.dimensions.attribute.precision;
 %tei_att.dimensions.attribute.scope;'> 
<!ENTITY % tei_att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.written.attributes '
 %tei_att.written.attribute.hand;'> 
<!ENTITY % tei_att.damaged.attribute.agent '
agent %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.damaged.attribute.degree '
degree %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.damaged.attribute.group '
group %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.damaged.attributes '%tei_att.dimensions.attributes;%tei_att.written.attributes;
 %tei_att.damaged.attribute.agent;
 %tei_att.damaged.attribute.degree;
 %tei_att.damaged.attribute.group;'> 
<!ENTITY % tei_att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % tei_att.cReferencing.attributes '
 %tei_att.cReferencing.attribute.cRef;'> 
<!ENTITY % tei_att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.datable.w3c.attributes '
 %tei_att.datable.w3c.attribute.when;
 %tei_att.datable.w3c.attribute.notBefore;
 %tei_att.datable.w3c.attribute.notAfter;
 %tei_att.datable.w3c.attribute.from;
 %tei_att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.attributes '%tei_att.datable.w3c.attributes;%tei_att.datable.iso.attributes;%tei_att.datable.custom.attributes;
 %tei_att.datable.attribute.calendar;
 %tei_att.datable.attribute.period;'> 
<!ENTITY % tei_att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % tei_att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % tei_att.datcat.attributes '
 %tei_att.datcat.attribute.datcat;
 %tei_att.datcat.attribute.valueDatcat;'> 
<!ENTITY % tei_att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_att.declarable.attributes '
 %tei_att.declarable.attribute.default;'> 
<!ENTITY % tei_att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % tei_att.declaring.attributes '
 %tei_att.declaring.attribute.decls;'> 
<!ENTITY % tei_att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % tei_att.fragmentable.attributes '
 %tei_att.fragmentable.attribute.part;'> 
<!ENTITY % tei_att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % tei_att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % tei_att.divLike.attributes '%tei_att.fragmentable.attributes;
 %tei_att.divLike.attribute.org;
 %tei_att.divLike.attribute.sample;'> 
<!ENTITY % tei_att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_att.docStatus.attributes '
 %tei_att.docStatus.attribute.status;'> 
<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_att.editLike.attributes '
 %tei_att.editLike.attribute.evidence;
 %tei_att.editLike.attribute.instant;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_att.global.attributes '%tei_att.global.rendition.attributes;%tei_att.global.linking.attributes;%tei_att.global.analytic.attributes;%tei_att.global.facs.attributes;%tei_att.global.change.attributes;%tei_att.global.responsibility.attributes;%tei_att.global.source.attributes;
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.attribute.xmllang;
 %tei_att.global.attribute.xmlbase;
 %tei_att.global.attribute.xmlspace;'> 
<!ENTITY % tei_att.internetMedia.attribute.mimeType '
mimeType CDATA  #IMPLIED'>
<!ENTITY % tei_att.internetMedia.attributes '
 %tei_att.internetMedia.attribute.mimeType;'> 
<!ENTITY % tei_att.media.attribute.width '
width %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_att.media.attribute.height '
height %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_att.media.attribute.scale '
scale %teidata.numeric;  #IMPLIED'>
<!ENTITY % tei_att.media.attributes '%tei_att.internetMedia.attributes;
 %tei_att.media.attribute.width;
 %tei_att.media.attribute.height;
 %tei_att.media.attribute.scale;'> 
<!ENTITY % tei_att.resourced.attribute.url '
url %teidata.pointer;  #REQUIRED'>
<!ENTITY % tei_att.resourced.attributes '
 %tei_att.resourced.attribute.url;'> 
<!ENTITY % tei_att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.naming.attributes '%tei_att.canonical.attributes;
 %tei_att.naming.attribute.role;
 %tei_att.naming.attribute.nymRef;'> 
<!ENTITY % tei_att.notated.attribute.notation '
notation %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.notated.attributes '
 %tei_att.notated.attribute.notation;'> 
<!ENTITY % tei_att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % tei_att.placement.attributes '
 %tei_att.placement.attribute.place;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % tei_att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % tei_att.pointing.attributes '
 %tei_att.pointing.attribute.targetLang;
 %tei_att.pointing.attribute.target;
 %tei_att.pointing.attribute.evaluate;'> 
<!ENTITY % tei_att.segLike.attribute.function '
function %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.segLike.attributes '%tei_att.datcat.attributes;%tei_att.fragmentable.attributes;
 %tei_att.segLike.attribute.function;'> 
<!ENTITY % tei_att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.sortable.attributes '
 %tei_att.sortable.attribute.sortKey;'> 
<!ENTITY % tei_att.timed.attribute.start '
start %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.timed.attribute.end '
end %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.timed.attributes '
 %tei_att.timed.attribute.start;
 %tei_att.timed.attribute.end;'> 
<!ENTITY % tei_att.transcriptional.attribute.status '
status %teidata.enumerated;  "unremarkable" '>

<!ENTITY % tei_att.transcriptional.attribute.cause '
cause %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.transcriptional.attribute.seq '
seq %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.transcriptional.attributes '%tei_att.editLike.attributes;%tei_att.written.attributes;
 %tei_att.transcriptional.attribute.status;
 %tei_att.transcriptional.attribute.cause;
 %tei_att.transcriptional.attribute.seq;'> 
<!ENTITY % tei_att.citing.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.citing.attribute.from '
from %teidata.word;  #IMPLIED'>

<!ENTITY % tei_att.citing.attribute.to '
to %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.citing.attributes '
 %tei_att.citing.attribute.unit;
 %tei_att.citing.attribute.from;
 %tei_att.citing.attribute.to;'> 
<!ENTITY % model.nameLike.agent "name |orgName |persName"> 
<!ENTITY % model.nameLike.agent_sequence "name, orgName, persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?, orgName?, persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*, orgName*, persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+, orgName+, persName+"> 
<!ENTITY % model.segLike "s |cl |phr |w |pc"> 
<!ENTITY % model.segLike_sequence "s, cl, phr, w, pc"> 
<!ENTITY % model.segLike_sequenceOptional "s?, cl?, phr?, w?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "s*, cl*, phr*, w*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "s+, cl+, phr+, w+, pc+"> 
<!ENTITY % model.hiLike "hi"> 
<!ENTITY % model.hiLike_sequence "hi"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+"> 
<!ENTITY % model.emphLike "term |title"> 
<!ENTITY % model.emphLike_sequence "term, title"> 
<!ENTITY % model.emphLike_sequenceOptional "term?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "term*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "term+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.dimLike "height |width"> 
<!ENTITY % model.dimLike_sequence "height, width"> 
<!ENTITY % model.dimLike_sequenceOptional "height?, width?"> 
<!ENTITY % model.dimLike_sequenceOptionalRepeatable "height*, width*"> 
<!ENTITY % model.dimLike_sequenceRepeatable "height+, width+"> 
<!ENTITY % model.measureLike "height |width"> 
<!ENTITY % model.measureLike_sequence "height, width"> 
<!ENTITY % model.measureLike_sequenceOptional "height?, width?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "height*, width*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "height+, width+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic"> 
<!ENTITY % model.graphicLike_sequence "graphic"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+"> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc "dimensions |objectType"> 
<!ENTITY % model.pPart.msdesc_sequence "dimensions, objectType"> 
<!ENTITY % model.pPart.msdesc_sequenceOptional "dimensions?, objectType?"> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable "dimensions*, objectType*"> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable "dimensions+, objectType+"> 
<!ENTITY % model.pPart.editorial "choice |abbr |expan"> 
<!ENTITY % model.pPart.editorial_sequence "choice, abbr, expan"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "choice?, abbr?, expan?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "choice*, abbr*, expan*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "choice+, abbr+, expan+"> 
<!ENTITY % model.pPart.transcriptional "add |damage"> 
<!ENTITY % model.pPart.transcriptional_sequence "add, damage"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "add?, damage?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "add*, damage*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "add+, damage+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |%model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike "g"> 
<!ENTITY % model.gLike_sequence "g"> 
<!ENTITY % model.gLike_sequenceOptional "g?"> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable "g*"> 
<!ENTITY % model.gLike_sequenceRepeatable "g+"> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |listBibl |msDesc"> 
<!ENTITY % model.biblLike_sequence "bibl, listBibl, msDesc"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, listBibl?, msDesc?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, listBibl*, msDesc*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, listBibl+, msDesc+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike "listPerson"> 
<!ENTITY % model.listLike_sequence "listPerson"> 
<!ENTITY % model.listLike_sequenceOptional "listPerson?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "listPerson*"> 
<!ENTITY % model.listLike_sequenceRepeatable "listPerson+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p |ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.persStateLike "persName"> 
<!ENTITY % model.persStateLike_sequence "persName"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+"> 
<!ENTITY % model.personLike "person"> 
<!ENTITY % model.personLike_sequence "person"> 
<!ENTITY % model.personLike_sequenceOptional "person?"> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable "person*"> 
<!ENTITY % model.personLike_sequenceRepeatable "person+"> 
<!ENTITY % model.personPart "%model.biblLike; |%model.persStateLike; |name |birth |death"> 
<!ENTITY % model.personPart_sequence "%model.biblLike;, %model.persStateLike;, name, birth, death"> 
<!ENTITY % model.personPart_sequenceOptional "%model.biblLike;?, %model.persStateLike;?, name?, birth?, death?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.biblLike;*, %model.persStateLike;*, name*, birth*, death*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.biblLike;+, %model.persStateLike;+, name+, birth+, death+"> 
<!ENTITY % model.placeNamePart "placeName |bloc |country |region |settlement |district"> 
<!ENTITY % model.placeNamePart_sequence "placeName, bloc, country, region, settlement, district"> 
<!ENTITY % model.placeNamePart_sequenceOptional "placeName?, bloc?, country?, region?, settlement?, district?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "placeName*, bloc*, country*, region*, settlement*, district*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "placeName+, bloc+, country+, region+, settlement+, district+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.publicationStmtPart.agency "publisher |distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher, distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?, distributor?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*, distributor*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+, distributor+"> 
<!ENTITY % model.publicationStmtPart.detail "address |date |pubPlace |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "address, date, pubPlace, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "address?, date?, pubPlace?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "address*, date*, pubPlace*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "address+, date+, pubPlace+, availability+"> 
<!ENTITY % model.availabilityPart ""> 
<!ENTITY % model.availabilityPart_sequence ""> 
<!ENTITY % model.availabilityPart_sequenceOptional ""> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.availabilityPart_sequenceRepeatable ""> 
<!ENTITY % model.certLike ""> 
<!ENTITY % model.certLike_sequence ""> 
<!ENTITY % model.certLike_sequenceOptional ""> 
<!ENTITY % model.certLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.certLike_sequenceRepeatable ""> 
<!ENTITY % model.descLike ""> 
<!ENTITY % model.descLike_sequence ""> 
<!ENTITY % model.descLike_sequenceOptional ""> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.descLike_sequenceRepeatable ""> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "editor |respStmt"> 
<!ENTITY % model.respLike_sequence "editor, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "editor?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "editor*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "editor+, respStmt+"> 
<!ENTITY % model.divWrapper "salute"> 
<!ENTITY % model.divWrapper_sequence "salute"> 
<!ENTITY % model.divWrapper_sequenceOptional "salute?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "salute*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "salute+"> 
<!ENTITY % model.divTopPart "%model.headLike; |opener"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;, opener"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?, opener?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*, opener*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+, opener+"> 
<!ENTITY % model.divTop "%model.divWrapper; |%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front "head"> 
<!ENTITY % model.pLike.front_sequence "head"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+"> 
<!ENTITY % model.titlepagePart "graphic"> 
<!ENTITY % model.titlepagePart_sequence "graphic"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+"> 
<!ENTITY % model.msQuoteLike "title"> 
<!ENTITY % model.msQuoteLike_sequence "title"> 
<!ENTITY % model.msQuoteLike_sequenceOptional "title?"> 
<!ENTITY % model.msQuoteLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.msQuoteLike_sequenceRepeatable "title+"> 
<!ENTITY % model.msItemPart "%model.biblLike; |%model.respLike; |%model.msQuoteLike; |textLang |msItem"> 
<!ENTITY % model.msItemPart_sequence "%model.biblLike;, %model.respLike;, %model.msQuoteLike;, textLang, msItem"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.biblLike;?, %model.respLike;?, %model.msQuoteLike;?, textLang?, msItem?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.biblLike;*, %model.respLike;*, %model.msQuoteLike;*, textLang*, msItem*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.biblLike;+, %model.respLike;+, %model.msQuoteLike;+, textLang+, msItem+"> 
<!ENTITY % model.choicePart "abbr |expan"> 
<!ENTITY % model.choicePart_sequence "abbr, expan"> 
<!ENTITY % model.choicePart_sequenceOptional "abbr?, expan?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "abbr*, expan*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "abbr+, expan+"> 
<!ENTITY % model.imprintPart "publisher |biblScope |pubPlace |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.addressLike "address"> 
<!ENTITY % model.addressLike_sequence "address"> 
<!ENTITY % model.addressLike_sequenceOptional "address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |%model.placeStateLike; |rs |%model.persNamePart;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, %model.placeStateLike;, rs, %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, %model.placeStateLike;?, rs?, %model.persNamePart;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, %model.placeStateLike;*, rs*, %model.persNamePart;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, %model.placeStateLike;+, rs+, %model.persNamePart;+"> 
<!ENTITY % model.global "%model.noteLike; |%model.global.edit; |figure"> 
<!ENTITY % model.global_sequence "%model.noteLike;, %model.global.edit;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.noteLike;?, %model.global.edit;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.noteLike;*, %model.global.edit;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.noteLike;+, %model.global.edit;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl |textLang |edition |availability |msIdentifier"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl, textLang, edition, availability, msIdentifier"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?, textLang?, edition?, availability?, msIdentifier?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*, textLang*, edition*, availability*, msIdentifier*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+, textLang+, edition+, availability+, msIdentifier+"> 
<!ENTITY % model.frontPart "listBibl"> 
<!ENTITY % model.frontPart_sequence "listBibl"> 
<!ENTITY % model.frontPart_sequenceOptional "listBibl?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "listBibl*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "listBibl+"> 
<!ENTITY % model.addrPart "%model.nameLike; |addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.graphicLike; |%model.pPart.msdesc; |%model.pPart.edit; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.msdesc;, %model.pPart.edit;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.msdesc;?, %model.pPart.edit;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.msdesc;*, %model.pPart.edit;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.msdesc;+, %model.pPart.edit;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.hiLike; |%model.emphLike; |%model.pPart.msdesc; |%model.pPart.editorial; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.hiLike;, %model.emphLike;, %model.pPart.msdesc;, %model.pPart.editorial;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.hiLike;?, %model.emphLike;?, %model.pPart.msdesc;?, %model.pPart.editorial;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*, %model.pPart.msdesc;*, %model.pPart.editorial;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+, %model.pPart.msdesc;+, %model.pPart.editorial;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "encodingDesc |profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "charDecl"> 
<!ENTITY % model.encodingDescPart_sequence "charDecl"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "charDecl?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "charDecl*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "charDecl+"> 
<!ENTITY % model.profileDescPart "langUsage |textClass |correspDesc"> 
<!ENTITY % model.profileDescPart_sequence "langUsage, textClass, correspDesc"> 
<!ENTITY % model.profileDescPart_sequenceOptional "langUsage?, textClass?, correspDesc?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "langUsage*, textClass*, correspDesc*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "langUsage+, textClass+, correspDesc+"> 
<!ENTITY % model.correspActionPart "%model.dateLike; |%model.addressLike; |%model.nameLike; |note"> 
<!ENTITY % model.correspActionPart_sequence "%model.dateLike;, %model.addressLike;, %model.nameLike;, note"> 
<!ENTITY % model.correspActionPart_sequenceOptional "%model.dateLike;?, %model.addressLike;?, %model.nameLike;?, note?"> 
<!ENTITY % model.correspActionPart_sequenceOptionalRepeatable "%model.dateLike;*, %model.addressLike;*, %model.nameLike;*, note*"> 
<!ENTITY % model.correspActionPart_sequenceRepeatable "%model.dateLike;+, %model.addressLike;+, %model.nameLike;+, note+"> 
<!ENTITY % model.correspDescPart "note |correspAction"> 
<!ENTITY % model.correspDescPart_sequence "note, correspAction"> 
<!ENTITY % model.correspDescPart_sequenceOptional "note?, correspAction?"> 
<!ENTITY % model.correspDescPart_sequenceOptionalRepeatable "note*, correspAction*"> 
<!ENTITY % model.correspDescPart_sequenceRepeatable "note+, correspAction+"> 
<!ENTITY % model.resource "text |facsimile"> 
<!ENTITY % model.resource_sequence "text, facsimile"> 
<!ENTITY % model.resource_sequenceOptional "text?, facsimile?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*, facsimile*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+, facsimile+"> 
<!ENTITY % model.describedResource "teiCorpus |TEI"> 
<!ENTITY % model.describedResource_sequence "teiCorpus, TEI"> 
<!ENTITY % model.describedResource_sequenceOptional "teiCorpus?, TEI?"> 
<!ENTITY % model.describedResource_sequenceOptionalRepeatable "teiCorpus*, TEI*"> 
<!ENTITY % model.describedResource_sequenceRepeatable "teiCorpus+, TEI+"> 
<!ENTITY % tei_att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % tei_att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.personal.attributes '%tei_att.naming.attributes;
 %tei_att.personal.attribute.full;
 %tei_att.personal.attribute.sort;'> 
<!ENTITY % model.physDescPart "objectDesc |handDesc"> 
<!ENTITY % model.physDescPart_sequence "objectDesc, handDesc"> 
<!ENTITY % model.physDescPart_sequenceOptional "objectDesc?, handDesc?"> 
<!ENTITY % model.physDescPart_sequenceOptionalRepeatable "objectDesc*, handDesc*"> 
<!ENTITY % model.physDescPart_sequenceRepeatable "objectDesc+, handDesc+"> 
<!ENTITY % tei_att.msExcerpt.attribute.defective '
defective %teidata.xTruthValue;  #IMPLIED'>
<!ENTITY % tei_att.msExcerpt.attributes '
 %tei_att.msExcerpt.attribute.defective;'> 
<!ENTITY % tei_att.msClass.attribute.class '
class CDATA  #IMPLIED'>
<!ENTITY % tei_att.msClass.attributes '
 %tei_att.msClass.attribute.class;'> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename |roleName"> 
<!ENTITY % model.persNamePart_sequence "surname, forename, roleName"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?, roleName?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*, roleName*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+, roleName+"> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % tei_att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.facs.attributes '
 %tei_att.global.facs.attribute.facs;'> 
<!ENTITY % tei_att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.change.attributes '
 %tei_att.global.change.attribute.change;'> 
<!ENTITY % tei_att.coordinated.attribute.start '
start %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.ulx '
ulx %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.uly '
uly %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.lrx '
lrx %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.lry '
lry %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.coordinated.attribute.points '
points CDATA  #IMPLIED'>
<!ENTITY % tei_att.coordinated.attributes '
 %tei_att.coordinated.attribute.start;
 %tei_att.coordinated.attribute.ulx;
 %tei_att.coordinated.attribute.uly;
 %tei_att.coordinated.attribute.lrx;
 %tei_att.coordinated.attribute.lry;
 %tei_att.coordinated.attribute.points;'> 
<!ENTITY % tei_att.linguistic.attribute.lemma '
lemma %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.lemmaRef '
lemmaRef %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.pos '
pos %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.msd '
msd %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.linguistic.attribute.join '
join (no|left|right|both|overlap) #IMPLIED'>
<!ENTITY % tei_att.linguistic.attributes '
 %tei_att.linguistic.attribute.lemma;
 %tei_att.linguistic.attribute.lemmaRef;
 %tei_att.linguistic.attribute.pos;
 %tei_att.linguistic.attribute.msd;
 %tei_att.linguistic.attribute.join;'> 
<!ENTITY % tei_att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.analytic.attributes '
 %tei_att.global.analytic.attribute.ana;'> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.global;|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|%model.gLike;|_DUMMY_model.qLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!ENTITY % macro.xtext '(#PCDATA|%model.gLike;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(documento TEI) contiene un documento TEI-conforme, comprendente un'intestazione e un testo, sia esso isolato o parte di un elemento teiCorpus [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(((%model.resource;)+,(TEI)*)|(TEI)+)))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
version %teidata.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(blocco anonimo) contiene una qualsiasi unità testuale a livello di componente che funge da contenitore anonimo di sintagmi o elementi interlivello simili al paragrafo ma senza il bagaglio semantico di quest'ultimo [16.3. Blocks, Segments, and Anchors] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(abbreviazione) contiene un'abbreviazione di qualsiasi genere. [3.5.5. Abbreviations and Their Expansions] -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(aggiunta) contiene lettere, parole o frasi inserite in un testo da un autore, copista, commentatore o correttore. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT add %macro.paraContent;>
<!ATTLIST add xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST add
 %tei_att.written.attribute.hand;
 %tei_att.placement.attributes;
 %tei_att.dimensions.attribute.extent; >
<!--doc:(riga dell'indirizzo) contiene una riga di un indirizzo (postale). [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene un indirizzo (postale), ad esempio di un editore, di un'organizzazione, di un individuo. [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT address (((%model.global;)*,((%model.addrPart;),(%model.global;)*)+))>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:fornisce informazioni sulla disponibilità di un testo, per esempio su qualsiasi restrizione che si applica alla sua utilizzazione o distribuzione, il suo statuto in merito al copyright, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (_DUMMY_model.availabilityPart|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(peritesto finale) contiene qualsiasi appendice che segua il testo vero e proprio [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back (((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,(((_DUMMY_model.div1Like),(%model.frontPart;|_DUMMY_model.div1Like|%model.global;)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|%model.global;)*))?,((_DUMMY_model.divBottomPart),(_DUMMY_model.divBottomPart|%model.global;)*)?))>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(citazione bibliografica) contiene una citazione bibliografica strutturata liberamente i cui componeneti potrebbero o meno essere codificati esplicitamente. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|%model.gLike;|%model.highlighted;|%model.pPart.data;|%model.pPart.edit;|%model.segLike;|_DUMMY_model.ptrLike|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(estensione del riferimento bibliografico) definisce l'estensione di un riferimento bibliografico, per esempio mediante una lista di numeri di pagina, o il titolo di una parte di un'opera più ampia. [3.11.2.5. Scopes and Ranges in Bibliographic Citations] -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene informazioni relative al luogo e alla data di nascita di una persona [15.2.2. The Participant Description] -->
<!ELEMENT birth %macro.phraseSeq;>
<!ATTLIST birth xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST birth
 %tei_att.datable.w3c.attribute.when; >
<!--doc:contiene il nome di un'unità geopolitica comprendente uno o più stati nazione o paesi [13.2.3. Place Names] -->
<!ELEMENT bloc %macro.phraseSeq;>
<!ATTLIST bloc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(corpo del testo) contiene l'intero corpo di un testo unitario, esclusi eventuale peritesto iniziale e finale [4. Default Text Structure] -->
<!ELEMENT body (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(%model.global;|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:sintetizza un particolare cambiamento o correzione effettuato ad una particolare versione di un documento elettronico, condivisa da più ricercatori. [2.6. The Revision Description 2.4.1. Creation 11.7. Identifying Changes and Revisions] -->
<!ELEMENT change %macro.specialPara;>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %tei_att.ascribed.attributes;
 %tei_att.datable.w3c.attribute.when; >
<!--doc:(descrizione del carattere) fornisce informazioni descrittive su un caratteri o glifi. [5.2. Markup Constructs for Representation of Characters and Glyphs] -->
<!ELEMENT charDecl (((desc)?,(char|glyph)+))>
<!ATTLIST charDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:raggruppa un numero di codifiche alternative per la stessa porzione di testo. [3.4. Simple Editorial Changes] -->
<!ELEMENT choice (%model.choicePart;|choice)+>
<!ATTLIST choice xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(frase) rappresnta la frase grammaticale [17.1. Linguistic Segment Categories] -->
<!ELEMENT cl %macro.phraseSeq;>
<!ATTLIST cl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene una descrizione della condizione fisica del manoscritto [10.7.1.5. Condition] -->
<!ELEMENT condition %macro.specialPara;>
<!ATTLIST condition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(correspondence action) contains a structured description of the place, the name of a person/organization and the date related to the sending/receiving of a message or any other action related to the correspondence. [2.4.6. Correspondence Description] -->
<!ELEMENT correspAction ((%model.correspActionPart;)+|(%model.pLike;)+)>
<!ATTLIST correspAction xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST correspAction
type %teidata.enumerated;  #IMPLIED >
<!--doc:(correspondence
    description) contains a description of the actions related to one act of correspondence. [2.4.6. Correspondence Description] -->
<!ELEMENT correspDesc ((%model.correspDescPart;)+|(%model.pLike;)+)>
<!ATTLIST correspDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene il nome di un'unità geopolitica, come una nazione, un paese, una colonia, o un'unione di stati, che sia più ampia o amministrativamente superiore rispetto a una regione ma di dimensioni inferiori rispetto a un blocco [13.2.3. Place Names] -->
<!ELEMENT country %macro.phraseSeq;>
<!ATTLIST country xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST country
 %tei_att.canonical.attribute.key; >
<!--doc:contiene l'area visibile del danneggiamento al testimone [11.3.3.1. Damage, Illegibility, and Supplied Text] -->
<!ELEMENT damage %macro.paraContent;>
<!ATTLIST damage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST damage
 %tei_att.damaged.attribute.agent; >
<!--doc:contiene una data in qualsiasi foemato [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.7. Dates and Times] -->
<!ELEMENT date (#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_att.datable.w3c.attribute.when; >
<!--doc:contiene informazioni relative al luogo e alla data di morte di una persona [15.2.2. The Participant Description] -->
<!ELEMENT death %macro.phraseSeq;>
<!ATTLIST death xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST death
 %tei_att.datable.w3c.attribute.when; >
<!--doc:contiene una qualsiasi indicazione relativa alle dimensioni [10.3.4. Dimensions] -->
<!ELEMENT dimensions (dim|%model.dimLike;)*>
<!ATTLIST dimensions xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dimensions
 %tei_att.dimensions.attribute.unit; >
<!--doc:fornisce il nome di una persona o di un'organizzazione responsabile della distribuzione di un testo. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene il nome di una qualsiasi suddivisione all'interno di un insediamento, come una circoscrizione, un quartiere o altre unità amministrative o geografiche [13.2.3. Place Names] -->
<!ELEMENT district %macro.phraseSeq;>
<!ATTLIST district xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST district
 %tei_att.typed.attribute.type; >
<!--doc:(partizione testuale) contiene una suddivisione del peritesto iniziale, del corpo del testo, o del peritesto finale [4.1. Divisions of the Body] -->
<!ELEMENT div (((%model.divTop;|%model.global;)*,((((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %tei_att.typed.attribute.type; >
<!--doc:(Edizione) descrive le peculiarità di una edizione del testo. [2.2.2. The Edition Statement] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(dichiarazione sull'edizione) raggruppa le informazioni riguardo una edizione di un testo. [2.2.2. The Edition Statement 2.2. The File Description] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:è la dichiarazione di responsabilità secondaria di ciascuna unità bibliografica, ad esempio il nome di un individuo, di un'istituzione o organizzazione che agisce come curatore, compilatore, traduttore, ecc. [3.11.2.2. Titles, Authors, and Editors] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(descrizione della codifica) documenta la relazione fra un documento elettronico e la o le fonti da cui è derivato. [2.3. The Encoding Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT encodingDesc (%model.encodingDescPart;|%model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(espansione) contiene l'esapnsione di un'abbreviazione. [3.5.5. Abbreviations and Their Expansions] -->
<!ELEMENT expan %macro.phraseSeq;>
<!ATTLIST expan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene una rappresentazione di una qualche fonte scritta sotto forma di una serie di immagini piuttosto che di testo trascritto o codificato [11.1. Digital Facsimiles] -->
<!ELEMENT facsimile (((front)?,(%model.graphicLike;|surface|surfaceGrp)+,(back)?))>
<!ATTLIST facsimile xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene una porzione di testo costituita da grafici, illustrazioni o figure. [14.4. Specific Elements for Graphic Images] -->
<!ELEMENT figure (%model.headLike;|%model.common;|figDesc|%model.graphicLike;|%model.global;|%model.divBottom;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(descrizione del file) contiene una descrizione bibliografica completa di un file elettronico. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)?,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene un prenome assegnato o un nome di battesimo [13.2.1. Personal Names] -->
<!ELEMENT forename %macro.phraseSeq;>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(carattere o glifo) rapperesenta un carattere o glifo non standard. [5. Characters, Glyphs, and Writing Modes] -->
<!ELEMENT g (#PCDATA)>
<!ATTLIST g xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST g
ref %teidata.pointer;  #IMPLIED >
<!--doc:indica un punto in cui del materiale è stato omesso dalla trascrizione, sia per ragioni editoriali descritte nell'intestazione TEI, come pratica di campionatura, sia perché il materiale è illegibile o incomprensibile. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT gap (_DUMMY_model.descLike|_DUMMY_model.certLike)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
 %tei_att.global.rendition.attribute.rend;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
reason NMTOKENS  #IMPLIED >
<!--doc:(glifo) fornisce informazioni descrittive su di un glifo. [5.2. Markup Constructs for Representation of Characters and Glyphs] -->
<!ELEMENT glyph (glyphName|charProp|unicodeProp|unihanProp|localProp|mapping|figure|%model.graphicLike;|%model.noteLike;|_DUMMY_model.descLike)*>
<!ATTLIST glyph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST glyph
 %tei_att.global.attribute.xmlid; >
<!--doc:indica la posizione di un grafico, di una illustrazione o immagine. [3.9. Graphics and Other Non-textual Components 11.1. Digital Facsimiles] -->
<!ELEMENT graphic (_DUMMY_model.descLike)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %tei_att.global.attribute.xmlid;
 %tei_att.media.attribute.width;
 %tei_att.media.attribute.height;
 %tei_att.resourced.attributes; >
<!--doc:(descrizione delle mani) contiene una descrizione dei diversi tipi di scrittura usati in un manoscritto [10.7.2. Writing, Decoration, and Other Notations] -->
<!ELEMENT handDesc ((%model.pLike;)+|((summary)?,(handNote)+))>
<!ATTLIST handDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(titolo) contiene qualsiasi tipo di titolo, per esempio il titolo di una sezione, di una lista, di un glossario, di una descrizione di manoscritto, ecc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|%model.gLike;|%model.phrase;|%model.inter;|_DUMMY_model.lLike|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:si riferisce a una misurazione presa lungo l'asse parallelo al dorso [10.3.4. Dimensions] -->
<!ELEMENT height %macro.xtext;>
<!ATTLIST height xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(evidenziato) codifica una parola o sintagma in quanto graficamente distinta dal testo circostante, senza che vengano specificate le ragioni dell'evidenziazione. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language] -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %tei_att.global.rendition.attribute.rend; >
<!--doc:contiene una lista delle parole chiave o frasi che identificano l'argomento o la natura di un testo. [2.4.3. The Text Classification] -->
<!ELEMENT keywords ((term)+|list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(lingua utilizzata) descrive le lingue, i linguaggi secondari, i registri, i dialetti ecc. rappresentati all'interno di un testo. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT langUsage ((%model.pLike;)+|(language)+)>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:indica una lingua o un linguaggio secondario utilizzato all'interno di un testo. [2.4.2. Language Usage] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
ident %teidata.language;  #REQUIRED >
<!--doc:(lista di citazioni) contiene una lista di citazioni bibliografiche di qualsiasi natura. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT listBibl (((%model.headLike;)*,(desc)*,(%model.biblLike;|_DUMMY_model.milestoneLike)+,(relation|listRelation)*))>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:groups a number of change descriptions associated with either the creation of a source text or the revision of an encoded text. [2.6. The Revision Description 11.7. Identifying Changes and Revisions] -->
<!ELEMENT listChange (((desc)*,(listChange|change)+))>
<!ATTLIST listChange xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(elenco delle persone) contiene una lista di descrizioni, ciascuna delle quali fornisce informazioni relative a una persona specifica o a un gruppo di persone, per esempio i partecipanti a un'interazione verbale o le persone identificate da una fonte storica [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT listPerson (((%model.headLike;)*,(desc)*,(%model.personLike;|listPerson)+,(relation|listRelation)*))>
<!ATTLIST listPerson xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(contenuto del manoscritto) descrive il contenuto intellettuale di un manoscritto o di una sua parte tramite una serie di paragrafi o brani del manoscritto [10.6. Intellectual Content] -->
<!ELEMENT msContents ((%model.pLike;)+|((summary)?,(textLang)?,(titlePage)?,(msItem|msItemStruct)*))>
<!ATTLIST msContents xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST msContents
 %tei_att.msClass.attributes; >
<!--doc:(decrizione del manoscritto) contiene la descrizione di un unico manoscritto [10.1. Overview] -->
<!ELEMENT msDesc ((msIdentifier,(%model.headLike;)*,((%model.pLike;)+|((msContents)?,(physDesc)?,(history)?,(additional)?,((msPart)*|(msFrag)*)))))>
<!ATTLIST msDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(identificatore del manoscritto) contiene l'informazione necessaria a identificare il manoscritto esaminato [10.4. The Manuscript Identifier] -->
<!ELEMENT msIdentifier ((((%model.placeNamePart_sequenceOptional;),(institution)?,(repository)?,(collection)*,(idno)*),(msName|objectName|altIdentifier)*))>
<!ATTLIST msIdentifier xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(parte di manoscritto) descrive una singola opera o oggetto all'interno del contenuto intellettuale di un manoscritto o di una sua parte [10.6.1. The msItem and msItemStruct Elements] -->
<!ELEMENT msItem (((locus|locusGrp)*,((%model.pLike;)+|(%model.titlepagePart;|%model.msItemPart;|%model.global;)+)))>
<!ATTLIST msItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(nome, nome proprio) contiene un nome proprio o un sintagma nominale. [3.5.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %tei_att.typed.attribute.type; >
<!--doc:contiene una nota o un'annotazione [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %tei_att.global.attribute.xmlid;
 %tei_att.global.responsibility.attribute.resp;
 %tei_att.placement.attributes;
 %tei_att.written.attributes; >
<!--doc:contiene una descrizione delle componenti fisiche che costituiscono l'oggetto descritto [10.7.1. Object Description] -->
<!ELEMENT objectDesc ((%model.pLike;)+|((supportDesc)?,(layoutDesc)?))>
<!ATTLIST objectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST objectDesc
form %teidata.enumerated;  #IMPLIED >
<!--doc:contains a word or phrase describing the type of object being referred to. [10.3.2. Material and Object Type] -->
<!ELEMENT objectType %macro.phraseSeq;>
<!ATTLIST objectType xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:raggruppa dateline, byline, formule introduttive o di saluto ed espressioni simili utilizzate all'inizio di una partizione testuale, soprattutto in una lettera [4.2. Elements Common to All Divisions] -->
<!ELEMENT opener (#PCDATA|%model.gLike;|%model.phrase;|argument|byline|dateline|epigraph|salute|signed|%model.global;)*>
<!ATTLIST opener xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST opener
 %tei_att.global.rendition.attribute.rend; >
<!--doc:(nome di organizzazione) contiene il nome proprio di un'organizzazione [13.2.2. Organizational Names] -->
<!ELEMENT orgName %macro.phraseSeq;>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orgName
 %tei_att.global.attribute.xmlid; >
<!--doc:(paragrafo) indica i paragrafi in prosa [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [17.1.2. Below the Word Level 17.4.2. Lightweight Linguistic Annotation] -->
<!ELEMENT pc (#PCDATA|%model.gLike;|c|%model.pPart.edit;)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(nome proprio di persona) contiene un nome proprio o un sintagma identificabile come nome proprio, che si riferisce a una persona e può includere qualsiasi o tutti i prenomi, cognomi, titoli onorifici, o nomi aggiunti della persona in questione [13.2.1. Personal Names] -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %tei_att.global.attribute.xmlid;
 %tei_att.canonical.attribute.ref; >
<!--doc:fornisce informazioni relative a un soggetto specifico, come i partecipanti a un'interazione verbale o le persone identificate da una fonte storica [13.3.2. The Person Element 15.2.2. The Participant Description] -->
<!ELEMENT person ((%model.pLike;)+|(%model.personPart;|%model.global;|ptr)*)>
<!ATTLIST person xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST person
 %tei_att.global.attribute.xmlid;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.responsibility.attribute.resp;
role NMTOKENS  #IMPLIED
sex CDATA  #IMPLIED >
<!--doc:(sintagma) rappresenta il sintagma grammaticale [17.1. Linguistic Segment Categories] -->
<!ELEMENT phr %macro.phraseSeq;>
<!ATTLIST phr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST phr
 %tei_att.segLike.attribute.function; >
<!--doc:(descrizione fisica) contiene una descrizione fisica completa di un manoscritto o di una sua parte che può essere ulteriormente suddivisa utilizzando elementi specifici della classe .physDescPart. [10.7. Physical Description] -->
<!ELEMENT physDesc (((%model.pLike;)*,(%model.physDescPart_sequenceOptional;)))>
<!ATTLIST physDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene l'indicazione assoluta o relativa di un nome di luogo [13.2.3. Place Names] -->
<!ELEMENT placeName %macro.phraseSeq;>
<!ATTLIST placeName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST placeName
 %tei_att.canonical.attribute.ref; >
<!--doc:(descrizione del profilo del testo) fornisce una descrizione dettagliata degli aspetti non bibliografici di un testo, in modo particolare le lingue e i linguaggi secondari utilizzati, la situazione in cui è stato prodotto il testo, i partecipanti e la relativa ambientazione [2.4. The Profile Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(luogo di pubblicazione) contiene il nome del luogo in cui un'unità bibliografica è stata pubblicata [3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %tei_att.global.attribute.xmlid; >
<!--doc:(dichiarazione sulla pubblicazione) raggruppa le informazioni riguardo la pubblicazione o la distribuzione di un documento elettronico o di altra natua. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:fornisce il nome [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene il nome di un'unità amministrativa, come uno stato o una provincia, che sia più ampia di un piccolo insediamento ma più piccola di un paese [13.2.3. Place Names] -->
<!ELEMENT region %macro.phraseSeq;>
<!ATTLIST region xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene il nome di un deposito, parte o meno di un'istituzione, nel quale sono conservati i manoscritti [10.4. The Manuscript Identifier] -->
<!ELEMENT repository %macro.phraseSeq.limited;>
<!ATTLIST repository xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST repository
 %tei_att.global.attribute.xmllang; >
<!--doc:(responsabilità) contiene una frase che descrive la natura della responsabilità intellettuale di una persona. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(dichiarazione di responsabilità) fornisce una dichiarazione di responsabilità per qualcuno responsabile del contenuto intelletuale di un testo, curatela, registrazione o collana, nel caso in cui gli elementi specifici per autore, curatore ecc. non sono sufficienti o non applicabili. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(descirzione della revisione) sintetizza la storia delle revisioni di un file [2.6. The Revision Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT revisionDesc (list|listChange|(change)+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene una componente del nome che indica un ruolo o una posizione specifici a livello sociale, come nel caso di titoli ufficiali o grado militare [13.2.1. Personal Names] -->
<!ELEMENT roleName %macro.phraseSeq;>
<!ATTLIST roleName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST roleName
 %tei_att.naming.attribute.role; >
<!--doc:(stringa di riferimento) contiene un nome generico o una stringa di riferimento [13.2.1. Personal Names 3.5.1. Referring Strings] -->
<!ELEMENT rs %macro.phraseSeq;>
<!ATTLIST rs xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST rs
 %tei_att.typed.attribute.type; >
<!--doc:(unità s) contiene la divisione del testo del tipo proposizione [17.1. Linguistic Segment Categories 8.4.1. Segmentation] -->
<!ELEMENT s %macro.phraseSeq;>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(formula di saluto) contiene una formula introduttiva o di saluto anteposta rispetto a una prefazione, una lettera di dedica o altra partizione testuale, oppure una formula conclusiva o di saluto alla fine di una lettera, prefazione, ecc [4.2.2. Openers and Closers] -->
<!ELEMENT salute %macro.paraContent;>
<!ATTLIST salute xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene il nome di un insediamento quale una città o un comune considerati come unità geopolitica o amministrativa [13.2.3. Place Names] -->
<!ELEMENT settlement %macro.phraseSeq;>
<!ATTLIST settlement xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settlement
 %tei_att.typed.attribute.type; >
<!--doc:(descrizione della fonte) fornisce una descrizionei relativa alla o alle fonti da cui è derivato o generato un documento elettronico. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains an overview of the available information concerning some aspect of an item or object (for example, its intellectual content, history, layout, typography etc.) as a complement or alternative to the more detailed information carried by more specific elements. [10.6. Intellectual Content] -->
<!ELEMENT summary %macro.specialPara;>
<!ATTLIST summary xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene una descrizione dei materiali, ecc. che costituiscono il supporto fisico della parte scritta di un manoscritto [10.7.1. Object Description] -->
<!ELEMENT support %macro.specialPara;>
<!ATTLIST support xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(descrizione del supporto) raggruppa gli elementi che descrivono il supporto fisico della parte scritta di un manoscritto [10.7.1. Object Description] -->
<!ELEMENT supportDesc ((%model.pLike;)+|((support)?,(extent)?,(foliation)*,(collation)?,(condition)?))>
<!ATTLIST supportDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST supportDesc
material %teidata.enumerated;  #IMPLIED >
<!--doc:definisce una superficie scritta in termini di uno spazio rettangolare di coordinate, eventualmente che raggruppi una o più rappresentazioni grafiche di tale spazio, e delle zone rettangolari di interesse all'interno di questo [11.1. Digital Facsimiles 11.2.2. Embedded Transcription] -->
<!ELEMENT surface (((%model.global;|_DUMMY_model.labelLike|%model.graphicLike;)*,((zone|line|path|surface|surfaceGrp),(%model.global;)*)*))>
<!ATTLIST surface xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene un nome di famiglia (ereditato) piuttosto che un nome assegnato, un nome di battesimo o un soprannome [13.2.1. Personal Names] -->
<!ELEMENT surname %macro.phraseSeq;>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene un intero corpus codificato TEI, comprende un intestazione del corpus e uno o più elementi TEI, ciascuno contenente un un singolo testo e la relatica intestazione. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT teiCorpus ((teiHeader,(%model.resource;)*,(%model.describedResource;)+))>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
version %teidata.version;  #IMPLIED >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(intestazione) fornisce informazioni descrittive e dichiarative che costituiscono un frontespizio elettronico che precede qualsiasi testo TEI-conforme. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(%model.teiHeaderPart;)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_att.global.attribute.xmlid; >
<!--doc:contiene una parola singola, un'unità formata da più parole, o una designazione simbolica che è considerata come un termine tecnico [3.3.4. Terms, Glosses, Equivalents, and Descriptions] -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contiene un unico testo di qualsiasi tipo, sia esso unitario o composito, per esempio un testo in versi o teatrale, una raccolta di saggi, un romanzo, un dizionario, o una porzione di corpus [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_att.global.attribute.xmllang;
 %tei_att.typed.attribute.type; >
<!--doc:(classificazione del testo) raggruppa le informazioni che descrivono la natura o l'argomento di un testo secondo uno schema di classificazione standard, un dizionario i sinonimi, ecc. [2.4.3. The Text Classification] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(lingua del testo) descrive le lingue e i sistemi di scrittura usati da un manoscritto (da non confondere con la descrizione contenuta nell'elemento langUsage [3.11.2.4. Imprint, Size of a Document, and Reprint Information 10.6.6. Languages and Writing Systems] -->
<!ELEMENT textLang %macro.phraseSeq;>
<!ATTLIST textLang xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textLang
mainLang %teidata.language;  #IMPLIED >
<!--doc:contiene il titolo completo di una qualsiaisi opera. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_att.global.attribute.xmllang; >
<!--doc:(dichiarazione sul titolo) raggruppa le informazioni sul titolo di un'opera e sulle responsabilità del suo contenuto intellettuale. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(parola) rappresenta la parola grammaticale (non necessariamente in modo ortografico). [17.1. Linguistic Segment Categories 17.4.2. Lightweight Linguistic Annotation] -->
<!ELEMENT w (#PCDATA|%model.gLike;|seg|w|m|c|pc|%model.global;|_DUMMY_model.lPart|%model.hiLike;|%model.pPart.edit;)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
 %tei_att.typed.attribute.type;
 %tei_att.linguistic.attribute.lemma; >
<!--doc:si riferisce a una misurazione presa lungo l'asse perpendicolare al dorso [10.3.4. Dimensions] -->
<!ELEMENT width %macro.xtext;>
<!ATTLIST width xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!-- end elements -->
